<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/about.css" />
    <link rel="stylesheet" href="stylesheets/gallery.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>Joaquin Fox</title>
  </head>
  <body>
    <section class="hero-image-gallery">
      
    </section>
    <section class="hero-image-about">
      
    </section>
    <section class="hero-image-tools">
      
    </section>
    <section class="hero-image-blog">
      
    </section>
    <nav id="top-nav">
      <ul>
        <a class="top-nav-a" href="/">Home</a>
        <a class="top-nav-a" href="/about">About</a>
        <a class="top-nav-a" href="/tech">Tech</a>
        <a class="top-nav-a" href="/blog">Blog</a>
      </ul>
    </nav>
    <main id="main-container">
      <!-- END -->

