<nav class="top-nav">
  <a id="home" class="top-nav-a" href="https://joaquinfox.github.io/profile/"
    >Home</a
  >
  <a id="tech" class="top-nav-a" href="/tech">Tools</a>
  <!-- <a id="blog" class="top-nav-a" href="/blog">Blog</a> -->
  <a id="gallery" class="top-nav-a" href="/gallery">Gallery</a>
</nav>
