<nav id="top-nav">
  <ul>
    <a class="top-nav-a" href="/">Home</a>
    <a class="top-nav-a" href="/about">About</a>
    <a class="top-nav-a" href="/tech">Tech</a>
    <a class="top-nav-a" href="/blog">Blog</a>
    <a class="top-nav-a" href="/gallery">Gallery</a>
  </ul>
</nav>