<nav id="top-nav">
    <ul>
        <a id="home" class="top-nav-a" href="https://joaquinfox.github.io/profile/">Home</a>
        <a id="about" class="top-nav-a" href="/about">About</a>
      <a id="blog" class="top-nav-a" href="/blog">Blog</a>
      <a id="gallery" class="top-nav-a" href="/gallery">Gallery</a>
    </ul>
  </nav>
  