* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Short Stack', cursive;
}
h* {
  font-family: 'Annie Use Your Telescope', cursive;
}
.page-container {
  display: flex;
  flex-direction: column;
}
/*HEADER SYLES*/
.header {
  border-bottom: 3px solid #eee;
}
#header-subtitle {
  color: #999;
  font-style: italic;
  padding: 1%;
}
.header-content {
  text-align: center;
  padding-top: 1%;
}
.anchor-container {
  padding: 1%;
}
.header-anchors {
  padding: 2rem;
  color: #455;
  transition: all 1s ease;
}
.header-anchors:hover {
  color: orange;
}
.header-img {
  height: 150px;
}
/*MAIN STYLES*/
.inner-wrapper {
  padding: 5%;
  display: flex;
  margin: 0 15%;
}

/*ASIDE STYLES*/
.aside-about-me {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  border: solid #222 2px;
  padding: 2%;
  transition: all 2s ease;
  color: white;
  background: #455;
}
.aside-p {
}
.aside-about-me:hover {
}
.aside-p-hi {
  margin: 10% auto;
  font-size: 1.25rem;
}
.profile-img {
  border-radius: 50%;
  margin: auto;
  height: 10rem;
  transform: rotate(90deg);
  visibility: visible;
}
.email-anchor {
  text-decoration: none;
  color: orange;
  transition: all 1s ease;
}

.email-anchor:hover {
  color: white;
  border: 1px solid orange;
  border-radius: 50%;
  padding: 1%;
}
/*ARTICLE STYLES*/
.article-container {
  padding: 0 3%;
}
.article-projects {
  display: flex;
  flex-direction: column;
}

.article-project-p {
  border: #222 solid 2px;
  padding: 2%;
  margin: 2% 0;
  transition: all 2s ease;
}
.article-project-p:hover > .project-anchors,
.article-project-p:hover {
  color: white;
  background: #455;
}
.article-project-link {
  text-decoration: none;
  color: orange;
}
.project-anchors {
  position: relative;
  bottom: 0;
  right: 0;
  color: #455;
  text-decoration: none;
  font-size: 75%;
  transition: all 1s ease;
}
.project-anchors:hover {
  font-size: 85%;
  border: 1px solid orange;
}

.article-ul-container {
  display: flex;
}
.techstack-ul {
  display: flex;
  flex-direction: column;
}

.techstack-item {
  border: 1px solid #222;
  list-style: none;
  padding: 5%;
  margin: 5% auto;
  width: 9rem;
  transition: all 1s ease;
}
.techstack-item:hover {
  color: orange;
  background: #455;
  font-weight: bold;
}
footer {
  background: #eee;
  text-align: center;
  padding: 3%;
  color: orange;
}
.resume {
  text-decoration: none;
  color: #455;
  transition: all 1s ease;
  border: 1px solid black;
  padding: 0.5%;
  font-size: 75%;
}
.resume:hover {
  background: #455;
  color: orange;
  font-weight: bold;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .inner-wrapper {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
  }
  .article-ul-container {
    display: flex;
    flex-direction: column;
  }
  .techstack-item {
    margin: 3%;
  }
  .header-img {
    display: none;
  }
}
@media (max-width: 600px) {
  .profile-img {
    content: url('./profile_pic3.JPG');
    transform: rotate(1800deg);
  }
  *{
    font-family: sans-serif;
  }
}
