<%-include('partials/header') %>
<header id="hero-about" class="hero-image">
  <h1 id="hero-about-text">About</h1>
</header>
<%-include('partials/navbar-about') %>

<div id="about-flex-container">
  <div id="section-header">
    <h1 id="aboutHeader">Joaquin Fox</h1>
    <img
      src="images/profilepic3.JPG"
      id="profile-img"
      alt="profile picture of Joaquin Fox"
    />
  </div>
  <div id="social-anchor-container">
    <a
      class="header-anchors"
      href="https://github.com/joaquinfox?tab=repositories"
      ><i class="fab fa-github fa-2x"></i
    ></a>
    <a
      class="header-anchors"
      href="httfooter {
        position: relative;
      }
      ps://www.linkedin.com/in/joaquin-fox-203182178/"
    >
      <i class="fab fa-linkedin-in fa-2x"> </i>
    </a>
    <a class="header-anchors" href="mailto:joaquin.fox@gmail.com">
      <i class="far fa-envelope fa-2x"> </i>
    </a>
  </div>
  <section class="about-content">
    <p class="section-p">
      I am a full stack, web developer living in the beautiful Verde Valley in
      central Arizona.
    </p>
    <p class="section-p">
      I build websites and apps with JavaScript. From the first rough draft to
      the final gem, I can build your website, application or feature deploy your creation,
      and offer continued support beyond that.
    </p>
    <p class="section-p">
      A big part of any web project, be it to sell things or to share things, is
      to use the right tools for the job. Part of what I offer is helping you
      identify the right technology for your purposes. 
    </p>
    <p class="section-p">
      I encourage you to reach out by email. Give me an idea of what you have in
      mind and I will respond as soon as I can.
    </p>
    <br />
    <h3>About Me</h3>
    <p class="section-p">
      Before studying software engineering at
      <a class="about-a email-anchor" href="https://thinkful.com">Thinkful</a>
      I worked as an accountant, financial analyst, mountaineering instructor
      and school administrator.
    </p>
    <br />
    <p class="section-p">
      My first web site was back in 2002, when I built a site to host my
      (defunct) folk band's music. I remember how exciting and magical it felt to
      write html markup and change fonts and colors!
    </p>
    <br>
    <p class="section-p">
      I got interested in more sophistacated coding while building student and teacher schedules
      for a charter school in Flagstaff  where I was an administrator. Once I dropped down the programming rabbit hole, I never
      climbed back out. 
    </p>
    <br />
    <p class="section-p">
      Want to work with me? I would love to talk about your project and how I
      might help.<a
        class="about-a email-anchor"
        href="mailto:joaquin.fox@gmail.com"
      >
        Email me</a
      >
      to start the conversation.
    </p>
  </section>
</div>

<%-include('partials/footer') %>
