<%-include('partials/header') %>
<section id="about-flex-container">
<section id="section-about-me" role="complementary">
  <div id="section-header">
    <h1 id="section-p-hi">Joaquin Fox</h1>
    <img
      src="images/profilepic3.JPG"
      class="profile-img"
      id="file-input"
      alt="profile picture of Joaquin Fox"
    />
  </div>

  <p class="section-p">
    I build websites and apps with JavaScript. From the first rough draft to the
    final gem, I can build your server and client, deploy your creation, and
    offer continued support beyond that.
  </p>
  <br />
  <p class="section-p">
    Before studying software engineering at
    <a class="about-a email-anchor" href="https://thinkful.com">Thinkful</a>
    .social-anchors { padding: 2rem; color: rgb(226, 172, 25); transition: all
    0.25s ease; } .social-anchors:hover { color: rgb(221, 210, 189); }
    .social-img { height: 150px; } I worked as an accountant, financial analyst,
    mountaineering instructor and school administrator.
  </p>
  <br />
  <p class="section-p">
    I got interested in coding while building student and teacher schedules for
    my school. Once I dropped down the programming rabbit hole, I never climbed
    back out.
  </p>
  <br />
  <p class="section-p">
    Want to work with me? I would love to talk about your project and how I
    might contribute to your team.<a 
      class="about-a email-anchor"
      href="mailto:joaquin.fox@gmail.com"
    >
      Email me</a
    >
    to start the conversation.
  </p>
</section>
</section>

<%-include('partials/footer') %>
