<%-include('partials/header') %>

<main id="hero" role="main">
  <div id="poster_box">
    <h1 >Comming soon ...</h1>
    <button id="button-blog"><a id='blog-a' href="/">back</a></button>
  </div>
</main>

<%-include('partials/footer') %>
