<%-include('partials/header') %>
<header id="hero-gallery" class="hero-image">
  <div id="hero-gallery-text">
    <span id="hero-span-1" class="hero-span-item">G</span>
    <span id="hero-span-2" class="hero-span-item">a</span>
    <span id="hero-span-3" class="hero-span-item">l</span>
    <span id="hero-span-4" class="hero-span-item">l</span>
    <span id="hero-span-5" class="hero-span-item">e</span>
    <span id="hero-span-6" class="hero-span-item">r</span>
    <span id="hero-span-7" class="hero-span-item">y</span>
  </div>
</header>
<%-include('partials/navbar-gallery') %>
<div id="gallery-sub-header"><h1>Samples of my work ...</h1></div>
<div id="gallery-flex-container">
  <div class="gallery-card">
    <a href="https://helpful-client.herokuapp.com/">Helpfull</a>
    <div class="imageContainer">
      <img src="/images/helpfull.png" width="100%" alt="" />
    </div>
    <br />
    <p>A networking app for community organizations.</p>
    <p>React and Node, with Express and MongoDB.</p>
  </div>

  <div class="gallery-card">
    <a href="http://codyroutson.info/"> Portfolio </a>
    <div class="imageContainer">
      <img src="/images/routson-thumbnail.png" width="100%" alt="" />
    </div>
    <br />
    <p>A professional portfolio page, handcrafted with CSS and html.</p>
    <a
      class="readme"
      href="https://github.com/joaquinfox/codyroutson.github.io"
    >
      <h4>README.md</h4>
      <br />
      <i class="fab fa-github fa-sm"></i
    ></a>
  </div>

  <div class="gallery-card">
    <a href="https://yelpcamp-deploy-03.herokuapp.com/campgrounds">YelpCamp</a>
    <div class="imageContainer">
      <img src="/images/yelpcamp.png" width="100%" alt="" />
    </div>
    <br />
    <p>
      A demonstration of user authentication and authorization, with full user
      CRUD functionality. Node.js, Express, and MongoDB.
    </p>
    <a class="readme" href="https://github.com/joaquinfox/yelpcamp">
      <h4>README.md</h4>
      <br />
      <i class="fab fa-github fa-sm"></i
    ></a>
  </div>

  <div class="gallery-card">
    <a href="https://tagalog-teacher.herokuapp.com/">Tagalog Teacher</a>
    <div class="imageContainer">
      <img src="/images/tagalog.png" width="100%" alt="" />
    </div>
    <br />
    <p>
      A language learning app, built on a spaced repetition algorithm. Node.js,
      React, MongoDB.
    </p>
    <br />
  </div>
</div>
<%-include('partials/footer') %>
