<%-include('partials/header') %>
<div class="hero-text">
  <span id='hero-span-1'>G</span>
  <span id='hero-span-2'>a</span>
  <span id='hero-span-3'>l</span>
  <span id='hero-span-4'>l</span>
  <span id='hero-span-5'>e</span>
  <span id='hero-span-6'>r</span>
  <span id='hero-span-7'>y</span>
  
</div>
<div id="gallery-flex-container">
    <div class="gallery-card">
      <a href="https://helpful-client.herokuapp.com/">Helpful:</a>
      <br>
      Bringing communities together through volunteerism.
      <br />
      <a
        href="https://github.com/thinkful-ei26/Helpful-Client/blob/master/README.md"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
    </div>
    <div class="gallery-card">
      <a href="http://codyroutson.info/">CodyRoutson.info:</a>
      <br>
      A professional page.
      <br />
      <a href="https://github.com/joaquinfox/codyroutson.github.io"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
  </div>
    <div class="gallery-card">
      <a href="https://tagalog-teacher.herokuapp.com/">Tagalog Teacher:</a>
      <br>
      A learning app built on a spaced-repetition algorithm and a linked-list
      data structure.
      <br />
      <a
        href="https://github.com/thinkful-ei26/Tagalog-Trisha-Joaquin-client/blob/master/README.md"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
    </div>
    <div class="gallery-card">
      <a href="https://github.com/joaquinfox/noteful/">Noteful:</a>
      <br>
      A node express backend using Passport for user authentication and testing
      with Mongoose.
      <br />
      <a href="">README.md <i class="fab fa-github fa-sm"></i></a>
    </div>
</div>
<%-include('partials/footer') %>
