<%-include('partials/header') %>
<div class="hero-text">
  <span id='hero-span-1'>G</span>
  <span id='hero-span-2'>a</span>
  <span id='hero-span-3'>l</span>
  <span id='hero-span-4'>l</span>
  <span id='hero-span-5'>e</span>
  <span id='hero-span-6'>r</span>
  <span id='hero-span-7'>y</span>
</div>
<div id="gallery-flex-container">
    <div class="gallery-card">
      <a href="https://helpful-client.herokuapp.com/">Project One</a>
      <br>
      Lorem ipsum dolor sit amee optio, tempora aut qui soluta?
      <br />
      <a
        href="#"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
    </div>
    <div class="gallery-card">
      <a href="http://codyroutson.info/">Project Two</a>
      <br>fugiat, cumque, eligendi aliquam doloribus modi, quod odio dignissimotemporibus. Dolorum aliquam error sapiente nulla quaerat?
      <br />
      <a href="https://github.com/joaquinfox/codyroutson.github.io"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
  </div>
    <div class="gallery-card">
      <a href="https://tagalog-teacher.herokuapp.com/">Project Three</a>
      <br>
      A learnised sint delectus, tempore quis sit, cumque numquam quam perspiciatis? Sit, maxime sapiente?
      <br />
      <a
        href="https://github.com/thinkful-ei26/Tagalog-Trisha-Joaquin-client/blob/master/README.md"
        >README.md <i class="fab fa-github fa-sm"></i
      ></a>
    </div>
    <div class="gallery-card">
      <a href="https://github.com/joaquinfox/noteful/">Project Four</a>
      <br>
      A node express backend using Passport for user authentication and testing
      ea corporis totam itaque.
      <br />
      <a href="">README.md <i class="fab fa-github fa-sm"></i></a>
    </div>
</div>
<%-include('partials/footer') %>
