<%-include('partials/header') %>
<main class="inner-wrapper" role="main">
  <aside class="aside-about-me" role="complementary">
    <p class="aside-p-hi">Hi. I'm Joaquin.</p>
    <img
      src="images/profilepic3.JPG"
      class="profile-img"
      id="file-input"
      alt="profile picture of Joaquin Fox"
    />

    <p class="aside-p">
      I build websites and apps with JavaScript. From the first rough draft to
      the final gem, I can build your server and client, deploy your creation,
      and offer continued support beyond that.
    </p>
    <br />
    <p class="aside-p">
      Before studying software engineering at
      <a class="email-anchor" href="https://thinkful.com">Thinkful</a>
      I worked as an accountant, financial analyst, mountaineering instructor
      and school administrator.
    </p>
    <br />
    <p class="aside-p">
      I got interested in coding while building student and teacher schedules
      for my school. Once I dropped down the programming rabbit hole, I never
      climbed back out.
    </p>
    <br />
    <p class="aside-p">
      Want to work with me? I would love to talk about your project and how I
      might contribute to your team.<a
        class="email-anchor"
        href="mailto:joaquin.fox@gmail.com"
      >
        Email me</a
      >
      to start the conversation.
    </p>
  </aside>
  <article class="article-container" role="complementary">
    <div class="article-projects">
      <h1 class="article-header">My Work</h1>
      <p class="article-project-p">
        <a
          class="article-project-link"
          href="https://helpful-client.herokuapp.com/"
          >Helpful:</a
        >
        Bringing communities together through volunteerism.
        <br />
        <a
          class="project-anchors"
          href="https://github.com/thinkful-ei26/Helpful-Client/blob/master/README.md"
          >README.md <i class="fab fa-github fa-sm"></i
        ></a>
      </p>
      <p class="article-project-p">
        <a class="article-project-link" href="http://codyroutson.info/"
          >CodyRoutson.info:</a
        >
        A professional page.
        <br />
        <a
          class="project-anchors"
          href="https://github.com/joaquinfox/codyroutson.github.io"
          >README.md <i class="fab fa-github fa-sm"></i
        ></a>
      </p>
      <p class="article-project-p">
        <a
          class="article-project-link"
          href="https://tagalog-teacher.herokuapp.com/"
          >Tagalog Teacher:</a
        >
        A learning app built on a spaced-repetition algorithm and a linked-list
        data structure.
        <br />
        <a
          class="project-anchors"
          href="https://github.com/thinkful-ei26/Tagalog-Trisha-Joaquin-client/blob/master/README.md"
          >README.md <i class="fab fa-github fa-sm"></i
        ></a>
      </p>
      <p class="article-project-p">
        <a
          class="article-project-link"
          href="https://github.com/joaquinfox/noteful/"
          >Noteful:</a
        >
        A node express backend using Passport for user authentication and
        testing with Mongoose.
        <br />
        <a class="project-anchors" href=""
          >README.md <i class="fab fa-github fa-sm"></i
        ></a>
      </p>
    </div>
    <div class="article-techstack">
      <h1 class="article-header">My toolbox</h1>
      <div class="article-ul-container">
        <ul class="techstack-ul">
          <li class="techstack-item">React</li>
          <li class="techstack-item">Mongo</li>
          <li class="techstack-item">PostgreSQL</li>
          <li class="techstack-item">Redux</li>
          <li class="techstack-item">Mongoose</li>
        </ul>
        <ul class="techstack-ul">
          <li class="techstack-item">Mocha</li>
          <li class="techstack-item">Chai</li>
          <li class="techstack-item">HTML5</li>
          <li class="techstack-item">CSS3</li>
          <li class="techstack-item">React Native</li>
        </ul>
      </div>
    </div>
  </article>
</main>

<%-include('partials/footer') %>
