<%-include('partials/header') %>
<main id="hero" role="main">
  <div id="hero_container">
    <div id="poster_box">
      <h1>Joaquin Fox</h1>
      <h4>Software and Web Development</h4>
      <div class="social-content">
        <div class="anchor-container">
          <a
            class="social-anchors"
            href="https://github.com/joaquinfox?tab=repositories"
            ><i class="fab fa-github fa-2x"></i
          ></a>
          <a
            class="social-anchors"
            href="https://www.linkedin.com/in/joaquin-fox-203182178/"
          >
            <i class="fab fa-linkedin-in fa-2x"> </i>
          </a>
          <a class="social-anchors" href="mailto:joaquin.fox@gmail.com">
            <i class="far fa-envelope fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- <hr /> -->
      <div id="hero_flex">
        <div class='hero_flex_row'>
          <div class="poster_box_section">Gallery</div>
          <div class="poster_box_section">Tools</div>
        </div>
        <div class='hero_flex_row'>
          <div class="poster_box_section">Writing</div>
          <div class="poster_box_section">About</div>
        </div>
      </div>
    </div>
  </div>
</main>
