<%-include('partials/header') %>
<header id="hero-tech" class="hero-image">
  <h1 id="hero-tech-text">Tools</h1>
</header>
<%-include('partials/navbar-tech') %>

<div id="tech-flex-container" role="main">
  <h1 id="techHeader">Choosing Technology</h1>
  <div id="text-container">
    <p>
      I work in a JavaScript universe. JavaScript is a powerful, and versatile
      language that lends itself to imaginative and creative applications.
    </p>
    <br />
    <p>
      I use a combination of tools that allow for full featured web applications
      that are robust and deliver consistent performance across devices. My
      sites are mantainable, fast and secure, and scale with the growth of your
      business or the scope of your project.

      For projects that require a server or a database, I build back ends in Node.js, and use Express as the  back end framework. I use mongoDB for expressive and powerful database architecting.
    
    </p>
    <br />
    <p>
      On the front end I will use React or "vanilla" JavaScript depending on the
      scale and scope of the project.
    </p>
    <p>
      I enjoy design and making things beautiful. To achieve a unique, and
      creative look on my projects I prefer to use raw css. I value the
      craftmanship of coding and staying close to the underlying, or 'vanilla' programming
      language, without layers of tooling. This gives me a "hands on" feeling I
      enjoy.
    </p>
  </div>
  <h1 id="techHeader">My Toolbox</h1>
  <div id="techstackItems">
    <a class="techstack-item" href="https://nodejs.org/en/">Node.js</a>
    <a class="techstack-item" href="https://www.npmjs.com/">NPM</a>
    <a class="techstack-item" href="https://expressjs.com/">Express</a>
    <a class="techstack-item" href="https://www.mongodb.com/">mongoDB </a>
    <a class="techstack-item" href="https://mongoosejs.com/">mongoose</a>
  </div>
</div>

<%-include('partials/footer') %>
