<%-include('partials/header') %>
<header id="hero-tech" class="hero-image">
  <h1 id="hero-tech-text">Tools</h1>
</header>
<%-include('partials/navbar-tech') %>

<div id="tech-flex-container" role="main">
  <h1 id="techHeader">Choosing Tech</h1>
  <div id="text-container">
    <p>
      I work in a JavaScript universe. JavaScript is the programming language of
      the web. It is a powerful, and versatile language that lends itself to
    </p>
    <br />
    <p>
      I use a combination of tools that allow for full featured web applications
      built on a robust architecture that can deliver consistent performance on
      any devices. My sites are mantainable, fast and secure, and lend
      themselves to scaling nicely with the growth of your business or the scope
      of your project.

      <!-- I build backends in Node.js, and use Express as my back end framework. On
      the front end I will use React or "vanilla" JavaScript depending on the
      scale and scope of the project. -->
    </p>
    <br />
    <p>
      I enjoy design and making things beautiful. To achieve a unique, and
      creative look on my projects I usually use vanilla css. I value the
      craftmanship of coding and staying close to the underlying programming
      language, without layers of tooling, gives me a "hands on" feeling I
      enjoy.
    </p>
  </div>
  <h1 id="techHeader">My Toolbox</h1>
  <div id="techstackItems">
    <a class="techstack-item" href="https://nodejs.org/en/">Node.js</a>
    <a class="techstack-item" href="https://www.npmjs.com/">NPM</a>
    <a class="techstack-item" href="https://expressjs.com/">Express</a>
    <a class="techstack-item" href="https://www.mongodb.com/">mongoDB </a>
    <a class="techstack-item" href="https://mongoosejs.com/">mongoose</a>
  </div>
</div>

<%-include('partials/footer') %>
