<%-include('partials/header') %>
<header id="hero-tech" class="hero-image"></header>
<nav id="top-nav">
  <ul>
    <a class="top-nav-a" href="/">Home</a>
    <a class="top-nav-a" href="/about">About</a>
    <a class="top-nav-a" href="/tech">Tech</a>
    <a class="top-nav-a" href="/blog">Blog</a>
  </ul>
</nav>
<main class="inner-wrapper" role="main">
  <article class="article-container" role="complementary">
    <div class="article-techstack">
      <h1 class="article-header">My toolbox</h1>
      <div class="article-ul-container">
        <ul class="techstack-ul">
          <li class="techstack-item">React</li>
          <li class="techstack-item">Mongo</li>
          <li class="techstack-item">PostgreSQL</li>
          <li class="techstack-item">Redux</li>
          <li class="techstack-item">Mongoose</li>
        </ul>
        <ul class="techstack-ul">
          <li class="techstack-item">Mocha</li>
          <li class="techstack-item">Chai</li>
          <li class="techstack-item">HTML5</li>
          <li class="techstack-item">CSS3</li>
          <li class="techstack-item">React Native</li>
        </ul>
      </div>
    </div>
  </article>
</main>

<%-include('partials/footer') %>
