<%-include('partials/header') %>
<header id="hero-tech" class="hero-image">
  <h1 id="hero-tech-text">Tools</h1>
</header>
<%-include('partials/navbar-tech') %>

<div id="tech-flex-container" role="main">
  <h1 id="techHeader">My Toolbox</h1>
  <div id="techstackItems">
    <a class="techstack-item" href="https://nodejs.org/en/">Node.js</a>
    <a class="techstack-item" href="https://www.npmjs.com/">NPM</a>
    <a class="techstack-item" href="https://expressjs.com/">Express</a>
    <a class="techstack-item" href="https://www.mongodb.com/">mongoDB </a>
    <a class="techstack-item" href="https://mongoosejs.com/">mongoose</a>
    <a class="techstack-item" href="https://reactjs.org/">React</a>
    <a
      class="techstack-item"
      href="https://www.w3.org/standards/webdesign/htmlcss"
      >HTML & CSS</a
    >
  </div>
</div>

<%-include('partials/footer') %>
