<%-include('partials/header') %>
<header id="hero-tech" class="hero-image">
  <h1 id="hero-tech-text">Tools</h1>
</header>
<%-include('partials/navbar-tech') %>

<div id="tech-flex-container" role="main">
  <h1 id="techHeader">Choosing Tech</h1>
  <div id="text-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
      perspiciatis repellat officia architecto, voluptate quisquam eveniet quo
      veniam eum! Nulla, fuga ipsum unde eum labore velit autem maxime? Fuga.
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid incidunt,
      tempore vitae esse consectetur repellat eius velit rerum placeat autem?
      Quae tenetur earum laborum doloremque culpa! Distinctio obcaecati
      molestiae dignissimos.
    </p>
  </div>
  <h1 id="techHeader">My Toolbox</h1>
  <div id="techstackItems">
    <a class="techstack-item" href="https://nodejs.org/en/"
      ><i class="fab fa-node"></i
    ></a>
    <a class="techstack-item" href="https://www.npmjs.com/"
      ><i class="fab fa-npm"></i
    ></a>
    <a class="techstack-item" href="">Express</a>
    <a href="https://expressjs.com/" class="techstack-item">
 
      <a class="mongoDB techstack-item" href="https://www.mongodb.com/">
        <img src="/images/MongoDB_Logo.png" alt="" width="200px" />
      </a>
    </a>
    <a class="techstack-item">mongoose</a>
  </div>
</div>

<%-include('partials/footer') %>
