<%-include('partials/header') %>
<header id="hero-tech" class="hero-image"></header>
<nav id="top-nav">
  <ul>
    <a class="top-nav-a" href="/">Home</a>
    <a class="top-nav-a" href="/about">About</a>
    <a class="top-nav-a" href="/tech">Tech</a>
    <a class="top-nav-a" href="/blog">Blog</a>
    <a class="top-nav-a" href="/gallery">Gallery</a>
  </ul>
</nav>
<div id="tech-flex-container" role="main">
  <h1 id="tech-header">Choosing Tech</h1>
  <div id="text-container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur modi
      perspiciatis repellat officia architecto, voluptate quisquam eveniet quo
      veniam eum! Nulla, fuga ipsum unde eum labore velit autem maxime? Fuga.
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid incidunt,
      tempore vitae esse consectetur repellat eius velit rerum placeat autem?
      Quae tenetur earum laborum doloremque culpa! Distinctio obcaecati
      molestiae dignissimos.
    </p>
  </div>
   <h1 id="tech-header">My Toolbox</h1>
  <div id="techstack-ul">
    <li class="techstack-item">Node.js</li>
    <li class="techstack-item">NPM</li>
    <li class="techstack-item">Express</li>
    <li class="techstack-item">Mongo</li>
    <li class="techstack-item">Mongoose</li>
    <li class="techstack-item">HTML5</li>
    <li class="techstack-item">CSS3</li>
  </div>
</div>

<%-include('partials/footer') %>
