/* HERO SECTION */
header#hero-about {
  background-image: url('/images/Foxy Design.png');
  background-size: cover;
  background-position: center;
}
/*ABOUT FLEX CONTAINER*/
#about-flex-container {
  margin: 5% 20%;
}

#section-header {
  text-align: center;
  margin: 5% 0;
}
#section-header h1 {
  color: rgb(112, 100, 100);
  margin-bottom: 2%;
}
.profile-img {
  border-radius: 50%;
  height: 12rem;
}
.about-content {
  margin-bottom: 5%;
}
.section-p {
  line-height: 2;
}
.anchor-container {
  text-align: center;
  margin-bottom: 5%;
}
.header-anchors {
  padding: 2%;
  margin-bottom: 2%;
  transition: all 0.5s ease;
}
.header-anchors:hover {
  color: orange;
}

footer {
  position: relative;
}
