/*SECTION STYLES*/
#about-flex-container {
  margin: 0 20%;
}
#section-about-me {
  line-height: 1.5;
  border: solid #222 2px;
  /* border-left: solid orange 20px; */
  padding: 10%;
  transition: all 0.25s ease;
  color: white;
  background: #455;
  font-size: 1.5rem;
}
#section-about-me .section-p a {
  transition: all 0.5s ease;
}
#section-header {
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  margin: 0 auto;
  height: 10rem;
  visibility: visible;
}
.email-anchor {
  text-decoration: none;
  color: orange;
  transition: all 0.2aside aside5s ease;
}

.email-anchor:hover {
  color: white;
  border: 1px solid orange;
  border-radius: 50%;
  padding: 1%;
}
