/* HERO SECTION */
header#hero-about {
  background-image: url('/images/about.png');
}
#hero-about-text {
  font-size: 12vw;
  color: rgba(212, 190, 66, 0.8);
}

/*ABOUT FLEX CONTAINER*/
#about-flex-container {
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
}

#section-header {
  text-align: center;
  margin: 5% 0;
}

#section-header h1,
i {
  color: rgb(112, 100, 100);
  margin-bottom: 2%;
}

#profile-img {
  border-radius: 50%;
  height: 12rem;
}

.about-content {
  margin: 0 10% 5% 10%;
  padding: 5%;
  background-color: rgb(248, 248, 248);
}
.section-p {
  line-height: 2;
}

#social-anchor-container {
  margin: 0 30% 5% 30%;
  display: flex;
  justify-content: space-around;
}

.header-anchors {
  transition: all 0.5s ease;
}
.header-anchors:hover {
  color: orange;
}

i:hover {
  transition: all 0.5s ease;
  color: orange;
}

footer {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .about-content {
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  #main-container {
    background: url('/images/about.png');
    background-size: cover;
  }
  #about-flex-container {
    background-color: rgba(199, 166, 166, 0.5);
    background-size: cover;
    margin: 0;
    height: 100vh;
  }
  h1 {
    color: red;
    /* background-color: rgba(212, 136, 66, 0.8); */
    background-image: linear-gradient(orange, rgb(196, 122, 122));
  }
  .header-anchors,
  i {
    color: orange;
  }

  .about-content {
    margin: 0 5%;
  }
}
