#hero {
  background: url('/images/scribble.png') no-repeat bottom fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  display: flex;
}

#poster_box {
  margin: auto;
  padding: 5%;
  background-color: rgba(235, 234, 217, 0.5);
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0.5rem 0.25rem rgba(0, 0, 0, 0.7);
  text-align: center;
}


#blog-a {
  border-radius: 22%;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: green;
}

#blog-a:hover {
  color: green;
  background-color: white;
}
footer {
  margin: 0;
}
