/*GALLERY STYLES*/

/* HERO SECTION */
header#hero-gallery {
  background-image: url('/images/Foxy Design.png');
  margin: 0;
}

#hero-gallery-text {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 12vw;
  background-color: rgba(230, 218, 229, 0.6);
  height: inherit;
  padding-left: 2%;
}
#hero-span-1 {
  color: rgb(202, 21, 30);
}
#hero-span-2 {
  color: rgb(207, 18, 207);
}
#hero-span-3 {
  color: rgb(34, 170, 34);
}
#hero-span-4 {
  color: rgb(0, 255, 221);
}
#hero-span-5 {
  color: rgb(50, 19, 226);
}
#hero-span-6 {
  color: rgb(25, 25, 155);
}
#hero-span-7 {
  color: rgb(226, 19, 209);
}
.hero-span-item {
  padding: 0 -2%;
}
.hero-text,
span {
  margin: 2% -1%;
}

/* GALERY FLEX CONTAINER */
#gallery-flex-container {
  margin: 5% 20%;
  display: flex;
}

.gallery-card {
  flex: 1;
  border: 1px solid black;
  text-align: center;
  margin: 3%;
  height: 20rem;
  /*  Card backgrounds are to be image thumbnails
  background-image: url('/images/horseheadir_hubble_960_thumb.jpg'); */
  color: rgb(112, 100, 100);
  line-height: 1.5;
  border-radius: 12%;
}
.gallery-card:nth-of-type(1) {
  background-color: pink;
}
.gallery-card:nth-of-type(2) {
  background-color: greenyellow;
}
.gallery-card:nth-of-type(3) {
  background-color: blanchedalmond;
}
.gallery-card:nth-of-type(4) {
  background-color: rgba(230, 218, 229, 0.6);
}
.gallery-card a {
  font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
  #gallery-flex-container {
    flex-direction: column;
  }
  .hero-text {
    font-size: 6rem;
  }
}
@media screen and (max-width: 900px) {
  #gallery-flex-container {
    flex-direction: column;
  }
  .hero-text {
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 5rem;
  }
}
