/*GALLERY STYLES*/

/* HERO SECTION */
#hero-gallery {
  background-image: url('/images/Foxy Design.png');
  margin: 0;
}

#hero-gallery-text {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 12vw;
  background-color: rgba(230, 218, 229, 0.6);
  height: inherit;
  padding-left: 2%;
}
#hero-span-1 {
  color: rgb(202, 21, 30);
}
#hero-span-2 {
  color: rgb(207, 18, 207);
}
#hero-span-3 {
  color: rgb(34, 170, 34);
}
#hero-span-4 {
  color: rgb(0, 255, 221);
}
#hero-span-5 {
  color: rgb(50, 19, 226);
}
#hero-span-6 {
  color: rgb(25, 25, 155);
}
#hero-span-7 {
  color: rgb(226, 19, 209);
}
.hero-span-item {
  padding: 0 -2%;
}
.hero-text,
span {
  margin: 2% -1%;
}

/* GALERY FLEX CONTAINER */
#gallery-flex-container {
  margin: 5% 20%;
  display: flex;
  font-size: 60%;
}

.gallery-card {
  flex: 1;
  background-color: rgb(255, 244, 244);
  border-right: 1px solid black;
  text-align: center;
  margin: 3%;
  align-content: flex-start;
  line-height: 1.5;
  padding: 3%;
  background-color: #eee;
}
.readme {
  font-size: 10px;
}

.gallery-card a {
  font-size: 1rem;
}

@media screen and (max-width: 1200px) {
  #gallery-flex-container {
    flex-direction: column;
  }
  .hero-text {
    /* font-size: 6rem; */
  }
}
@media screen and (max-width: 600px) {
  #mainContainer {
    padding: 0;
  }
  #gallery-flex-container {
    margin: 0;
    background: url('/images/Foxy Design.png');
    background-size: cover;
  }
  .gallery-card {
    margin: 10%;
    border: solid 2px black;
  }
}
