* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 0.25rem;
}

/* MAIN FLEX CONTAINER */
#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HERO */
.hero-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: left bottom;
  padding: 12%;
}
/* NAV BAR */
nav {
  background-color: #eee;
}
nav,
ul {
  text-align: center;
  line-height: 3;
}

.top-nav-a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-size: 1.5rem;
  color: rgb(112, 100, 100);
  font-weight: 100;
  letter-spacing: 0.5rem;
  width: 10vw;
  padding: 1% 2%;
}
.top-nav-a:hover {
  font-weight: 500;
  color: rgb(15, 10, 10);
  background-color: #fffff9;
  border-radius: 15%;
}
@media screen and (max-width: 600px) {
  nav,
  ul {
    flex-direction: column;
  }
  .top-nav-a {
    font-size: 1rem;
  }
}

/* FOOTER */
footer {
  margin-top:10%;
  background: #eee;
  color: orange;
  /* text-align: center; */
  /* padding-top: 2% ; */
  display: flex;
  flex-direction: column;
}
footer,
span {
  text-align: center;
  color: rgb(112, 100, 100);
}
.resume {
  width: 6vw;
  margin: 1% auto 0;
  text-decoration: none;
  color: #455;
  transition: all 0.25s ease;
  border: 1px solid black;
  border-radius: 12%;
  padding: 1%;
  font-size: 75%;
}
.resume:hover {
  background: #455;
  color: orange;
  font-weight: bold;
  border-radius: 50%;
}
