* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 0.25rem;
}
#main-container {
  margin: 0 15%;
  padding: 0 10%;
  height:100vh;
}
#top-nav {
  background-color: #eee;
  /* text-align: center;; */
  margin: auto;
}
#top-nav ul {
  margin: 0;
  padding: 5%;
  text-align: center;
}
#top-nav li {
  list-style: none;
  display: inline;
}

.top-nav-a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(112, 100, 100);
  font-weight: 100;
  letter-spacing: 0.5rem;
}
.top-nav-a:hover {
  font-weight: 400;
  color: rgb(15, 10, 10);
  transition: all 0.5s ease-in;
}
#top-nav li {
  padding: 0 5%;
}
footer {
  background: #eee;
  text-align: center;
  padding: 3%;
  color: orange;
}
.resume {
  text-decoration: none;
  color: #455;
  transition: all 0.25s ease;
  border: 1px solid black;
  padding: 0.5%;
  font-size: 75%;
}
.resume:hover {
  background: #455;
  color: orange;
  font-weight: bold;
  border-radius: 50%;
}