/* HERO SECTION */
#hero-tech {
  background-image: url('/images/tools-mini.png');
}

#hero-tech-text {
  color: rgba(112, 100, 100, 0.7);
  font-size: 15vw;
}

/* TECH FLEX CONTAINER */
#tech-flex-container {
  display: flex;
  flex-direction: column;
  margin: 5% 20%;
}

#tech-header {
  margin: auto;
  padding-bottom: 5%;
}

#text-container {
  margin: 5% 15% 10% 15%;
  line-height: 2;
  border: 0.015rem solid rgb(240, 223, 223);
  padding: 3%;
  box-shadow: rgb(240, 223, 223) 0.25rem 0.15rem;
}

#techstackItems {
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto auto 5%;
  border: none;
  box-shadow: none;
}

.techstack-item {
  margin: 5%;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease;
  color: rgb(112, 100, 100);
  padding: 5%;
}

.techstack-item:hover {
  font-weight: 500;
  color: rgb(15, 10, 10);
  color: orange;
  border-radius: 15%;
}

@media screen and (max-width: 1000px) {
  #text-container {
    margin: auto auto 5%;
    border: none;
    box-shadow: none;
  }
  #hero-tech {
    background-image: none;
  }
}
@media screen and (max-width: 600px) {
  #main-container {
    background: url('/images/tools-mini.png');
    background-size: cover;
  }
  #tech-flex-container {
    background-color: rgba(199, 166, 166, 0.5);
    background-size: cover;
    margin: 0;
    height: 100vh;
    color: white;
  }
  #techHeader {
    background-image: linear-gradient(orange, rgb(196, 122, 122));
  }
  #techstackItems,.techstack-item {
    color: white;
    /* background-color: white; */
  }
}
