/* HERO SECTION */
header#hero-tech {
  background-image: url('/images/tools.jpg');
  background-size: cover;
  background-position: center;
}

#tech-flex-container {
  display: flex;
  flex-direction: column;
  margin: 5% 20%;
}

#tech-header {
  margin: auto;
  padding-bottom: 5%;
}
#text-container {
  margin: 5% 15% 10% 15%;
  line-height: 2;
  border: 0.015rem solid rgb(240, 223, 223);
  padding: 3%;
  box-shadow: rgb(240, 223, 223) 0.25rem 0.15rem;
}

#techstack-ul {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 5%;
  background-color: #eee;
}
.techstack-item {
  margin: 5%;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease;
  color: rgb(112, 100, 100);
  padding: 5% ;
}

.techstack-item:hover {
  font-weight: 500;
  color: rgb(15, 10, 10);
  color:orange;
  border-radius: 15%;
}
