/* HERO SECTION */
#hero-tech {
  background-image: url('/images/tools-mini.png');
}

#hero-tech-text {
  font-size: 15vw;
}

/* TECH FLEX CONTAINER */
#tech-flex-container {
  display: flex;
  flex-direction: column;
  margin: 5% 20%;
}

#tech-header {
  margin: auto;
  padding-bottom: 5%;
}

#text-container {
  margin: 5% 15% 10% 15%;
  line-height: 2;
  border: 0.015rem solid rgb(240, 223, 223);
  padding: 3%;
  box-shadow: rgb(240, 223, 223) 0.25rem 0.15rem;
}

#techstackItems {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: none;
  box-shadow: none;
}

.techstack-item {
  margin: auto;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease;
  color: rgb(112, 100, 100);
  padding: 10%;
}

.techstack-item:hover {
  color: rgb(15, 10, 10);
  color: orange;
  border-radius: 15%;
}
.mongoDB img {
  transition: all 0.5s ease;
}
.mongoDB img:hover {
  border-bottom: orange solid 2px;
}
 .techstack-item i {
  font-size: 7rem;
}
 .techstack-item {
  font-size: 2rem;
  font-weight: bolder;
}

@media screen and (max-width: 1000px) {
  #text-container {
    margin: auto auto 5%;
    border: none;
    box-shadow: none;
  }

  #techstack-item {
    padding: auto;
  }
  .techstack-item i {
    font-size: 3rem;
  }

  
}
@media screen and (max-width: 600px) {
  #mainContainer {
    background: url('/images/tools-mini.png');
    background-size: cover;
    /* color:white; */
  }
  #text-container {
    margin: auto 5%;
    border: none;
    box-shadow: none;
    color:white;
  }
  #tech-flex-container {
    background-color: rgba(199, 166, 166, 0.5);
    background-size: 100% 100%;
    margin: 0;
  }
  h1#techHeader{
    text-align: left;
    padding-left:10%;
  }
  #techHeader {
    background-color: rgba(235, 232, 220, 0.5);
  }
  #techstackItems,
  .techstack-item {
    color: white;
  }
}
